// VARIABLES
$body-fontfamily: 'stratos', Helvetica, arial, sans-serif;
$heading-fontfamily: 'gimlet-display', Georgia, serif;

$color-accent: red;
$color-midgrey: rgba(0,0,0,.5);

// IMPORT PARTIALS
@import 'partials/toc';
@import 'partials/typography';

